@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
body{cursor: pointer;}

#users{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-error{
    font-family: "Permanent Marker";
    color: red;
}
.profile{
    border-bottom: 1px solid #d0cfcf;
}

.home{
    min-height: 100vh;
    width: 100%;
}

.recommendation{
    display: none;
}

.activity-info{
    width: 100%;
    float: left;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.logo{
    width: 25px;
    border-radius: 50%;
}

.profile-picture{
    width: inherit;
}

.profile-box{
    border-radius: 50% !important;
    width: 200px !important;
    margin: auto !important;
}

.profile-box img, .profile-picture-img{
    width: 100%;
    border-radius: 50%;
}

#upload-profile-picture{
    display: none;
}
.nav-item-description{
    display: none;
}

.profile-pp{
    margin: 20px;
    width: calc(30% - 40px );
    float: left;
}
.profile-info{
    width: calc(70% - 40px );
    float: left;
    padding: 20px;
}
.profile-pp img{width: 100%; min-width: -webkit-fill-available;}

.nav-effect{box-shadow: 0 2px 30px -2px rgba(0,0,0,.2);}

.profile-heading{
    margin: 5px !important;
    font-weight: bold;
    font-family: "Montserrat";
    text-align: center;
    padding: 2px 5px;
}

.profile-bar{
    width: 33.33% ; 
    float: left;
    text-align: center;
}

.posts{
    display: grid;
    padding: 10px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}

.post{
    height: 100%;
    max-height: 300px;
}

.post img{height: 100%;}
.post-section{
    border-bottom: 1px solid #b9b4b4;
    border-top: 1px solid #b9b4b4;
    padding: 5px 0;
}

.box-text{
    white-space: pre-wrap;
}
.to-like-icon, .share-icon, .setting-icon{
    width: 30px;
}

.setting-icon{padding: 0 5px;}
.to-like-icon img, .share-icon img{
    width: inherit;
}
.chat-info{
    border-bottom: 1px solid #cecdcd;
    display: flex;
}

.sendMessage{
    display: flex;
}
.chats{
    height: 60vh;
    overflow-y: auto;
    padding: 0 10px;
}

.chat-to{
    margin: 0 5%;
    font-family: "Roboto Condensed";
    display: flex;
    flex: 0.8 1;
}

.input-message{
    display: flex;
    flex: 0.8 1;
}

.input-message input {padding: 10px;}

.submit-message{
    display: flex;
    flex: 0.2 1;
}

.closeIcon{
    display: flex;
    flex: 0.2 1;
    justify-content: flex-end;
}

.closeIconText{
    margin: auto;
}
.messages{
    padding: 5% 0;
    flex: auto;
}
.sentText{
    justify-content: flex-end;
    text-align: right;
    margin: 20px 0;
}


.receivedText{
    justify-content: flex-start;
    margin: 20px 0;
}

@media only screen and (max-width: 300px){
    .profile-box{
        width: 100px !important;
    }
}

@media only screen and (max-width: 600px){
    .nav-item-description{display: block;}
    .logo{display: none;}
    .profile-pp{
        margin: 0px;
        width: 30%;
    }
}

@media only screen and (min-width: 1200px){
    .recommendation{
        width: 30%;
        float: left;
        display: block;
    }
    .home{
        width: 70%;
        float: left;
    }    
}
.box-image{
    width: 100% !important;
}
.navbar{
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	width: 100%;
}
.nav-list{
	margin: 0;
	list-style-type: none;
}
.nav-logo, .nav-logo a{
	float: left;
	max-width: 200px;
	margin: 10px;
	text-decoration: none;
	color: black;
	font-size: 1.5rem;
}
.navbar .nav-item{
	display: block;
	text-align: center;
	padding: 14px 16px;
	font-size: 17px;
	float: right;
}

.navbar .nav-item a{
	text-decoration: none;
	color: black;
}
.navbar .nav-item a:hover{
	opacity: .7;
}

.nav-icon{
	display: none !important;
}