@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
.form-error{
    font-family: "Permanent Marker";
    color: red;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.logo{
    width: 25px;
    border-radius: 50%;
}

.profile-picture{
    width: inherit;
}

.profile-box{
    border-radius: 50% !important;
    width: 200px !important;
    margin: auto !important;
}

.profile-box img{
    border-radius: 50%;
}

#upload-profile-picture{
    display: none;
}
.nav-item-description{
    display: none;
}
@media only screen and (max-width: 300px){
    .profile-box{
        width: 100px !important;
    }
}

@media only screen and (max-width: 600px){
    .nav-item-description{display: block;}
    .logo{display: none;}
}